@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WeatherStation! This application lets you check the weather in every major city around the world!</h1>
</div>
<br>
<div class="text-center">
    <h1 class="display-4">Consider creating an account so you can track your weather logs!</h1>
</div>

